name: Publish autoverpod to pub.dev

on:
  release:
    types: [published]
  workflow_call:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' || startsWith(github.event.release.tag_name, 'autoverpod-v') }}
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for pub.dev publishing
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Dart
      uses: dart-lang/setup-dart@v1
      with:
        sdk: stable
    
    - name: Install dependencies
      run: dart pub get
      working-directory: autoverpod
    
    - name: Publish to pub.dev
      run: dart pub publish --force
      working-directory: autoverpod
